.main {
  background-color: #01C3F8;
  /*height: 100%;*/
}

.header {
  width: 100%;
  height: 471px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/banner.png');
}

.content {
  padding: 0 72px;
}

.label-item {
  margin-top: 20px;
  color: #fff;
  .label {
    font-size: 39px;
    font-weight: 800;
  }

  .label-text {
    font-size: 36px;
  }
}

.time-tags {
  padding: 35px 0;
  display: flex;

  .time-item {
    color: #fff;
    font-size: 36px;
    background-color: #F4C146;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

.prize-tags {
  display: flex;
  align-items: flex-start;
  /*flex-wrap: wrap;*/
}

.prize-item {
  /*width: 170px;*/
  margin: 30px 45px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
}

.prize-icon {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.ai {
    background-image: url('./images/xiaoai.png');
  }
  &.shubiao {
    background-image: url('./images/shubiao.png');
  }
  &.zhediesan {
    background-image: url('./images/zhediesan.png');
  }
  &.eh {
    background-image: url('./images/8h.png');
  }
  &.qianzibi {
    background-image: url('./images/qianzibi.png');
  }
  &.shoudiantong {
    background-image: url('./images/shoudiantong.png');
  }
  &.taiyangjing {
    background-image: url('./images/taiyangjing.png');
  }
  &.dianshuihu {
    background-image: url('./images/dianshuihu.png');
  }
  &.nine-fen {
    background-image: url('./images/90fen.png');
  }
  &.lanyaerji {
    background-image: url('./images/lanyaerji.png');
  }
}

.prize-title {
  font-size: 30px;
  /*width: 220px;*/
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.miaosha-tags {
  padding: 30px 0 60px;
}

.miaosha-item {
  width: 100%;
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/miaosha1.png');
}
